@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --bg: #D9D9D9;
}

* {
    transition: 0.2s linear;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    width: 100%;

    & div {
        display: flex;
        width: 100%;
        justify-content: right;
        align-items: center;
        gap: 2rem;
    }

    & div.navbar {
        position: absolute;
    }
}

button.menu__icon {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
  }

.background {
    border-radius: 16px;
    mix-blend-mode: luminosity;
    backdrop-filter: blur(15px);
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
  
.menu__icon {
    width: 25px;
    height: 25px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform .4s;
}
  
.menu__icon span {
    width: 100%;
    height: 0.25rem;
    border-radius: 0.125rem;
    background-color: rgb(0, 122, 255);
    box-shadow: 0 .5px 2px 0 hsla(0, 0%, 0%, .2);
    transition: width .4s, transform .4s, background-color .4s;
}
  
.menu__icon :nth-child(1) {
    width: 75%;
}
  
.menu__icon :nth-child(2) {
    width: 50%;
}
  
.menu__icon:hover {
    transform: rotate(-90deg);
}
  
.menu__icon:hover span {
    width: .25rem;
    transform: translateX(10px);
    background-color: rgb(255, 59, 48);
}

.background.open .menu__icon {
    transform: rotate(-90deg);
}

.background.open .menu__icon span {
    width: .25rem;
    transform: translateX(10px);
    background-color: rgb(255, 59, 48);
}

nav {
    display: none;
    flex-direction: column;
    position: relative;
    top: 80px;
    right: -200px;
    width: 200px;
    background-color: #fff;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  }

  nav.open {
    display: flex;
    top: 80px;
    right: 45px;
  }
  
  .value {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: black;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .value:hover {
    background-color: #eaeaea !important;
  }
  
  .value svg {
    width: 15px
  }

h1 {
    font-family: 'Inria Sans', sans-serif;
}

#newNote {
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #004cff;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
}

#newNote:hover {
    background-color: #729cff;
}

.actions {
    display: flex;
    justify-content: space-between;
}

#deleteFolder {
    background-color: #98000f;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#deleteFolder:hover {
    background-color: #bb3f4b;
}

#deleteFolder img {
    filter: invert(100%)
}

.notesContainer {
    background: var(--bg);
    padding: 0.5rem;
    border-radius: 10px;
    margin-top: 1rem;
    min-height: 72vh;
}

.note {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin: 0.5rem 0;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;

    & p {
        width: 50rem;
    }
}

.note:hover {
    background: rgba(255, 255, 255, 0.4);

    & p {
        color: rgba(0, 0, 0, 0.9);
    }
}

.deleteDiv {
    display: flex;
    justify-content: right;
    width: 100%;
}

.deleteBtn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.deleteBtn:hover {
    & img {
        filter: opacity(60%);
    }
}
